[project]
	description = tools for linux perf
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group perfwhiz-core
	owner = group user/Yichen Wang (yicwang)
[access "refs/for/refs/*"]
	read = group user/Yichen Wang (yicwang)
	push = group user/Yichen Wang (yicwang)
	label-Code-Review = -2..+2 group user/Yichen Wang (yicwang)
	label-Verified = -1..+1 group user/Yichen Wang (yicwang)
	rebase = group user/Yichen Wang (yicwang)
	removeReviewer = group user/Yichen Wang (yicwang)
	submit = group user/Yichen Wang (yicwang)
[access "refs/heads/*"]
	read = group user/Yichen Wang (yicwang)
	create = group user/Yichen Wang (yicwang)
	push = +force group user/Yichen Wang (yicwang)
	pushMerge = group user/Yichen Wang (yicwang)
[access "refs/tags/*"]
	push = +force group perfwhiz-core
	pushTag = group perfwhiz-core
	pushSignedTag = group perfwhiz-core
