[project]
	description = tools for linux perf
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group perfwhiz-core
[access "refs/for/refs/*"]
	read = group perfwhiz-core
	push = group perfwhiz-core
	label-Code-Review = -2..+2 group perfwhiz-core
	label-Verified = -1..+1 group perfwhiz-core
	rebase = group perfwhiz-core
	removeReviewer = group perfwhiz-core
	submit = group perfwhiz-core
[access "refs/heads/*"]
	read = group perfwhiz-core
	create = group perfwhiz-core
	push = +force group perfwhiz-core
	pushMerge = group perfwhiz-core
	abandon = group perfwhiz-core
[access "refs/tags/*"]
	push = +force group perfwhiz-core
	pushSignedTag = group perfwhiz-core
